
.site-item-content {
   padding: 24px; 
   background-image: linear-gradient(to top,#000000,#696969,#D3D3D3,#DCDCDC);
   display: flex;
   justify-content: center;
   gap: 50px;
   
  }
  
   .house-item-box {
    background-color: #262629;
    width: 50%;
    height: 800px;
    border-radius: 18px;
    display: flex;
    justify-content:flex-start;
    align-items: baseline;
    gap: 60px;
    padding-left: 140px;
    padding-top: 60px;
    flex-wrap: wrap;
    overflow: auto;
   }

   

  
   .house-item-box::-webkit-scrollbar{
      display: none;
   }

  
   .item-card {
      height:100;
      width: 200;
   }
   .item-list {
      width: 200px;
      height: 200px;
      background-color: blue;
   }
  
  
  