.site-layout-content {
    min-height: 100%;
    padding: 24px;
    background-image: linear-gradient(to top,#000000,#696969,#D3D3D3,#DCDCDC);
    width: 100%;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

   .form {
    background-color: #262629;
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    border-radius: 24px;
    padding: 24px;
    color: #fff;
    gap: 18px;
   }

   .input-box {
    margin:50px 50px;
    display: flex;
    align-items: center;
    gap: 18px;
    width: 480px;

   }
 .input-box-tag{
  white-space: nowrap;
  width: 60px;
 }

 .input-box-content{
  width: 300px;
 }

 .SlideNavigation{
  background-color: #262629;
  width: 300px;
  height: 800px;
  gap: 90px;
  border-radius: 30px;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-style: none;
 }

 .select-box {
  height: 500px;
  gap: 90px;
  margin-top: 25px;
 }

 .item-box {
  background-color: #262629;
  width: 70%;
  height: 800px;
  border-radius: 18px;


 }

 .site-item-content {
  min-height: 100%;
  padding: 24px; 
  background-image: linear-gradient(to top,#000000,#696969,#D3D3D3,#DCDCDC);
  display: flex;
  justify-content: center;
  gap: 50px;
 }
